/*
 *  screen.css
 *  HvZ
 *
 *  Created by Ross Light on April 14, 2008.
 */

/* MAIN CONTENT AREAS */

html, body
{
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}

#header
{
    width: 728px;
    height: 90px;
    background: transparent url(../images/hvz_logo.png) no-repeat;
    cursor: pointer;
}

#main_content
{
    width: 85%;
    margin: 1ex auto;
    padding: 2em 3%;
    border: thin solid #333;
    color: black;
    background: #efe;
}

#footer
{
    width: 95%;
    padding: 1ex 2.5%;
    margin: 0 auto 1em auto;
}

/* USER BAR */

#user_bar
{
    margin: 0;
    padding: 0 1ex 0.5ex 0;
    border-bottom: thin solid #333;
    color: black;
    background: #ccc;
}

/* PAGE HIERARCHY TRAIL */

#trail
{
    width: 91%;
    margin: 1ex auto;
    padding: 0;
    border: thin solid #333;
    color: black;
    background: #ccc;
}
