/*
 *  screen.css
 *  HvZ
 *
 *  Created by Ross Light on April 14, 2008.
 */

/* MAIN CONTENT AREAS */

html, body
{
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

#header
{
    cursor: pointer;
}

#main_content
{
    width: 85%;
    margin: 1ex auto;
    padding: 2em 3%;
    border: thin solid #333;
    color: black;
    background: #efe;
}

#footer
{
    width: 95%;
    padding: 1ex 2.5%;
    margin: 0 auto 1em auto;
}

#status_block
{
    width: 45%;
    margin: 0 auto 0.5em;
    padding: 1em 2.5% 16px;
}

/* USER BAR */

#user_bar
{
    margin: 0;
    padding: 0 1ex 0.5ex 0;
    border-bottom: thin solid #333;
    color: black;
    background: #ccc;
}

/* PAGE HIERARCHY TRAIL */

#trail
{
    width: 91%;
    margin: 1ex auto;
    padding: 0;
    border: thin solid #333;
    color: black;
    background: #ccc;
}
