/*
 *  style.css
 *  HvZ
 *
 *  Created by Ross Light on March 30, 2008.
 */

/* MAIN CONTENT AREAS */

html, body
{
    color: white;
    background-color: black;
    font: small Verdana, Kalimati, Helvetica, FreeSans, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header
{
    width: 728px;
    height: 90px;
    margin: 2em auto;
    background: transparent url(../images/hvz_logo.png) no-repeat;
    cursor: pointer;
}

#trail
{
    width: 89%;
    margin: 1ex auto;
    padding: 1ex 1%;
    border: thin solid #333;
    color: black;
    background: #ccc;
}

#trail a:link, #trail a:visited
{
    padding-left: 1ex;
    padding-right: 16px;
    color: #f33;
    background: transparent url(../images/trail_path.png) no-repeat right center;
    text-decoration: none;
}

#trail a:hover
{
    color: #900;
    background: #999 url(../images/trail_path.png) no-repeat right center;
    text-decoration: underline;
}

#trail .current
{
    font-weight: bolder;
}

#main_content
{
    width: 85%;
    margin: 1em auto;
    padding: 2em 3%;
    color: black;
    background: #efe;
    font-size: 127%;
}

#footer
{
    width: 95%;
    padding: 1ex 2.5%;
    margin: 0 auto 1em auto;
    color: #f33;
    font-size: 80%;
    text-align: center;
}

#user_bar
{
    margin: 0;
    padding: 0 1ex 0.5ex 0;
    color: black;
    background: #ccc;
    text-align: right;
}

#user_bar_links :link, #user_bar_links :visited
{
    text-decoration: none;
}

#user_bar_links
{
    display: inline;
    margin: 0;
    padding: 0;
}

#user_bar_links li
{
    display: inline;
    margin: 0;
    margin-left: 1ex;
    padding: 0;
}

/* TABLES/GRID VIEW */

.custom_grid
{
    margin-bottom: 1em;
    border-collapse: collapse;
}

.custom_grid .no_data
{
    background: #cf9;
    text-align: center;
    font-style: italic;
}
.custom_grid th, .custom_grid td
{
    padding: 0.5ex 1em;
    border: thin solid #999;
}

.custom_grid th
{
    border-bottom: none;
    color: #ccc;
    background: black url(../images/gradient_red_bottom.png) repeat-x bottom;
}

/* sortable column */
.custom_grid th :link, .custom_grid th :visited
{
    color: white;
    text-decoration: none;
}

.custom_grid th :hover
{
    color: red;
}

.custom_grid tr:first-child td
{
    border-top: none;
}

.custom_grid td
{
    background: #ccc;
}

/* TURBOGEARS ELEMENTS */

#status_block
{
    width: 45%;
    margin: 0 auto 0.5em;
    padding: 1em 2.5% 16px;
    background: #900 url(../images/gradient_black_bottom.png) repeat-x bottom;
    font-weight: bolder;
}

.fielderror
{
    color: red;
    font-weight: bold;
}

/* MISC FORMATTING */

a.link, a, a.active
{
    color: #369;
}

h1, h2, h3, h4, h5, h6
{
    color: #600;
    font-family: Impact, Arial, FreeSans, sans-serif;
    font-weight: bold;
}

h1#title
{
    margin-top: 0;
}

a:link img, a:visited img, a:hover img, a:active img
{
    border: none;
}

/* RULES */

.rule_name
{
    font-weight: bold;
}

#sect_license
{
    text-align: center;
    font-size: 75%;
}

.cclicense
{
    border: none;
}
