/*
 *  style.css
 *  HvZ
 *
 *  Created by Ross Light on March 30, 2008.
 */

/* MAIN CONTENT AREAS */

html, body
{
    font: small Verdana, Kalimati, Helvetica, FreeSans, Arial, sans-serif;
}

#header
{
    width: 728px;
    height: 90px;
    background: transparent url(../images/hvz-logo.png) no-repeat;
}

#main_content
{
    font-size: 127%;
}

#footer
{
    color: #f33;
    font-size: 80%;
    text-align: center;
}

/* USER BAR */

#user_bar
{
    text-align: right;
}

#user_bar_links
{
    display: inline;
    margin: 0;
    padding: 0;
}

#user_bar_links li
{
    display: inline;
    margin: 0;
    margin-left: 1ex;
    padding: 0;
}

#user_bar_links a:link, #user_bar_links a:visited
{
    color: #369;
    text-decoration: none;
}

#user_bar_links a:hover
{
    color: #036;
}

/* PAGE HIERARCHY TRAIL */

#trail
{
}

#trail a:link, #trail a:visited
{
    padding-left: 1ex;
    padding-right: 16px;
    color: #f33;
    background: transparent url(../images/trail-path.png) no-repeat right center;
    text-decoration: none;
}

#trail a:hover
{
    color: #900;
    background: #999 url(../images/trail-path.png) no-repeat right center;
}

#trail .current
{
    padding-left: 1ex;
    font-weight: bolder;
}

/* TABLES/GRID VIEW */

.custom_grid
{
    margin-bottom: 1em;
    border-collapse: collapse;
}

.custom_grid .no_data
{
    background: #cf9;
    text-align: center;
    font-style: italic;
}
.custom_grid th, .custom_grid td
{
    padding: 0.5ex 1em;
    border: thin solid #999;
}

.custom_grid th
{
    border-bottom: none;
    color: #ccc;
    background: black url(../images/gradient-red-bottom.png) repeat-x bottom;
}

/* sortable column */
.custom_grid th :link, .custom_grid th :visited
{
    color: white;
    text-decoration: none;
}

.custom_grid th :hover
{
    color: red;
}

.custom_grid th .sort_asc, .custom_grid th .sort_desc
{
    padding-right: 16px;
    background-position: right center;
    background-repeat: no-repeat;
}

.custom_grid th .sort_asc
{
    background-image: url(../images/sort-asc.png);
}

.custom_grid th .sort_desc
{
    background-image: url(../images/sort-desc.png);
}

.custom_grid tr:first-child td
{
    border-top: none;
}

.custom_grid td
{
    background: #ccc;
}

.info_table
{
    border: none;
    margin-bottom: 1em;
}

.info_table th, .info_table td
{
    color: black;
    background: none;
    border: none;
}

.info_table th
{
    font-weight: bold;
    text-align: right;
    vertical-align: top;
}

.info_table td ul, .info_table td ol
{
    margin-top: 0;
    margin-bottom: 0;
}

/* TURBOGEARS ELEMENTS */

#status_block
{
    background: #900 url(../images/gradient-black-bottom.png) repeat-x bottom;
    font-weight: bolder;
}

.fielderror
{
    color: red;
    font-weight: bold;
}

.fieldhelp
{
    display: block;
    margin-top: 1ex;
    margin-bottom: 1ex;
    color: #333;
    font-size: smaller;
    font-style: italic;
}

.tableform th
{
    vertical-align: top;
    text-align: right;
}

/* GAME VIEW STYLES */

.check
{
    width: 1em;
    height: 1em;
    max-width: 64px;
    max-height: 64px;
}

/* USER VIEW STYLES */

.no_profile
{
    color: #333;
    font-style: italic;
}

/* MISC FORMATTING */

a.link, a, a.active
{
    color: #369;
}

h1, h2, h3, h4, h5, h6
{
    color: #600;
    font-family: Impact, Arial, FreeSans, sans-serif;
    font-weight: bold;
}

h1#title
{
    margin-top: 0;
}

*:link
{
    color: #369;
}

*:visited
{
    color: #636;
}

a:link img, a:visited img, a:hover img, a:active img
{
    border: none;
}
