<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<py:def function="page_title">Alliances</py:def>
<py:def function="head_info"></py:def>
<py:def function="page_parents">
    <a href="${tg.url('/user/index')}">Users</a>
</py:def>

<py:match path="content">
    <span py:replace="tg.display(pager)">[pager]</span>
    <span py:replace="tg.display(grid, alliances)"></span>
    <div class="buttons">
        <button id="create_button">Create</button>
    </div>
    <script type="text/javascript">
        // EVENTS //
        safe_connect('create_button', 'onclick',
            function()
            {
                redirect(${tg.jsencode(tg.url('/user/alliance/create'))});
            });
    </script>
</py:match>

<xi:include href="../master.html" />

</html>
