<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" py:replace="''" />
        <link py:for="css in tg_css" py:replace="tg.display(css)" />
        <link py:for="js in tg_js_head" py:replace="tg.display(js)" />
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../static/images/favicon.ico" py:attrs="{'href': tg.url('/static/images/favicon.ico')}" />
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" py:attrs="{'href': tg.url('/static/css/style.css')}" />
        <link rel="stylesheet" type="text/css" media="screen" href="../static/css/screen.css" py:attrs="{'href': tg.url('/static/css/screen.css')}" />
        <link rel="stylesheet" type="text/css" media="print" href="../static/css/print.css" py:attrs="{'href': tg.url('/static/css/print.css')}" />
        <title py:content="page_title()">[Title]</title>
        <meta py:replace="head_info()" />
    </head>
    <body>
        <div py:for="js in tg_js_bodytop" py:replace="tg.display(js)"></div>
        <div py:if="tg.config('identity.on') and not defined('logging_in')" id="user_bar" py:choose="">
            <py:when test="tg.identity.anonymous">
                <ul id="user_bar_links">
                    <li><a href="${tg.hvz.login_link()}">Login</a></li>
                </ul>
            </py:when>
            <py:otherwise>
                Welcome, ${tg.identity.user.display_name}.
                <ul id="user_bar_links">
                    <li><a href="${tg.hvz.user_link(tg.identity.user)}">User Page</a></li>
                    <li><a href="${tg.url('/logout')}">Logout</a></li>
                </ul>
            </py:otherwise>
        </div>
        <div id="header" onclick="window.location = ${tg.jsencode(tg.url('/'))};">&nbsp;</div>
        <div id="status_block" class="flash" py:if="value_of('tg_flash', None)" py:content="tg_flash">Flash</div>
        <div id="trail">
            <a href="#" class="parent" py:replace="page_parents()">Parents</a>
            <span class="current" py:content="page_title()">Page</span>
        </div>
        <div id="main_content">
            <h1 id="title" py:content="page_title()">[Title]</h1>
            <!-- Begin content -->
            <content>Content goes here</content>
            <!-- End content -->
        </div>
        <div id="footer">
            <p>Humans vs. Zombies is powered by <a href="http://www.turbogears.org/">TurboGears</a>.</p>
        </div>
        <div py:for="js in tg_js_bodybottom" py:replace="tg.display(js)" />
    </body>
</html>
