<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<py:def function="page_title">404 Not Found</py:def>
<py:def function="head_info"></py:def>

<py:match path="content">
    <p>The URI you were looking for (<code py:content="requested_uri">[uri]</code>) was not found on this server.  Please check your spelling, or contact the provider of the link.</p>
    <a href="#" onclick="history.back(); return false;">Back</a>
</py:match>

<xi:include href="master.html" />

</html>
