<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<py:def function="page_title">Humans vs. Zombies Rules</py:def>
<py:def function="head_info"></py:def>

<py:match path="content">
    <p>AOC Rules written by Ross Light and TJ Ferrell<br />
    Based on <a href="http://www.webfeatsdesign.com/hvz/rules.htm">the original by Brad Sappington and Chris Weed</a></p>
    <h2 id="sect_overview">Overview</h2>
    <p>Humans vs. Zombies is a game of tag. All players begin as humans, and one is randomly chosen to be the “Original Zombie.” The Original Zombie tags human players and turns them into zombies. The zombies must tag and “feed” on a human every 48 hours or he starves to death and is out of the game.</p>
    <h2>Objectives</h2>
    <p>The Zombies win when all human players have been tagged and turned into zombies. The Humans win by surviving long enough for all of the zombies to starve.</p>
    <h2 id="sect_safety">Safety Rules</h2>
    <ul>
        <li>No weaponry of any kind, just socks</li>
        <li>Players may not use cars</li>
        <li>Socks may not contain anything and should be clean</li>
    </ul>
    <h2 id="sect_equipment">Equipment</h2>
    <p>This gear is required for all players:</p>
    <ul>
        <li>Headband (2 colors)</li>
        <li>Socks</li>
        <li>One 3x5 index ID card</li>
    </ul>
    <h2 id="sect_safe_zones">Safe Zones</h2>
    <ul>
        <li>Bathrooms</li>
        <li>Academic buildings</li>
        <li>Library</li>
        <li>Student center</li>
        <li>Health center</li>
        <li>Dining halls</li>
    </ul>
    <h2 id="sect_human_rules">Human Rules</h2>
    <p><span class="rule_name">ID Number</span> Humans must keep one index card with their unique identification number (player GID) on them at all times</p>
    <p><span class="rule_name">Stunning a Zombie</span> Humans may stun a Zombie for 15 minutes by throwing a sock at them.</p>
    <p><span class="rule_name">When Tagged By a Zombie</span> When tagged by a Zombie, a Human is required to distribute their ID card. One hour after being tagged, a Human becomes a member of the Zombie team. Switch to the 2nd color armband&#x2014;you are now allowed to tag other Humans.</p>
    <p><span class="rule_name">Wearing a Headband</span> Humans must wear a first color headband around an arm or leg to identify them as players of the game.</p>
    <h2 id="sect_zombie_rules">Zombie Rules</h2>
    <p><span class="rule_name">Feeding</span> Zombies must feed every 48 hours. A zombie feeds by reporting their tags on the website. Time on weekends and holidays does not count toward the time limit.  For example, if a zombie tags someone six hours before a Saturday, then the zombie will have forty-two hours (48 - 6 = 42) from midnight on Monday to tag someone.</p>
    <p><span class="rule_name">Wearing your Headband</span> The Zombie team must wear a second color headband around their arms at all times. The Original Zombie must wear a headband, but it does not need to be a second color headband.</p>
    <p><span class="rule_name">Tagging</span> A tag is a firm touch to any part of a Human. After tagging a Human, the Zombie must collect their ID card. Kills must be reported within three hours.</p>
    <p><span class="rule_name">Getting Hit</span> When hit with a sock, a zombie is stunned for 15 minutes. A stunned zombie may not interact with the game in any way. This includes shielding other zombies from socks or continuing to run toward a human. If hit while stunned, a zombie remains stunned for the next 15 minutes.</p>
    <h2 id="sect_other_rules">Other Rules</h2>
    <ul>
        <li>Hitting non-players with socks is a bannable offense.</li>
        <li>People who are not registered participants may not directly interact with the game. This includes bringing food to humans or spying for either team.</li>
        <li>A zombie must have both feet outside of a safe zone to tag a human. Zombies may not use shields to deflect socks.</li>
        <li>Athletes are safe during official practices, but not on the way to or from practice.</li>
        <li>Similarly, students at required academic events are safe for the duration of the event (even if this event is in a free-play zone), but they are not safe on the way to or from the event.</li>
        <li>Humans can't stun zombies from inside of a safe-zone.</li>
    </ul>
    
    <div id="sect_license">
        <p>Copyright &#xA9; 2008 Ross Light, Copyright &#xA9; 2007 Chris Weed</p>
        <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" class="cclicense" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png"/></a><br />
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-Noncommercial-Share Alike 3.0 License</a>.</p>
    </div>
</py:match>

<xi:include href="master.html" />

</html>
