<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<py:def function="page_title">Sudo</py:def>
<py:def function="head_info">
<link rel="stylesheet" type="text/css" href="${tg.url('/static/css/login.css')}" />
</py:def>
<py:def function="page_parents"></py:def>

<py:match path="content">
    <p>Sudo allows you to log in as another user.  <strong>Use this feature sparingly!</strong></p>
    <form action="/action.sudo" method="POST" id="login_form">
        <table>
            <tr>
                <td class="label">
                    <label for="user_name">User Name:</label>
                </td>
                <td class="field">
                    <input type="text" id="user_name" name="user_name"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="buttons">
                    <input type="submit" value="Sudo"/>
                </td>
            </tr>
        </table>
    </form>
    <p><a href="http://xkcd.com/149/">Sudo make me a sandwich.</a></p>
</py:match>

<xi:include href="master.html" />

</html>
