<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<py:def function="page_title">Humans vs. Zombies</py:def>
<py:def function="head_info"></py:def>

<py:match path="content">
    <p>Humans vs. Zombies is a game of moderated tag commonly played on college campuses. A group of human players attempts to survive a "zombie outbreak" by not being tagged by a growing group of zombie players.</p>
    <ul>
        <li py:if="tg.identity.anonymous"><a href="${tg.url('/login')}">Login</a></li>
        <li><a href="${tg.url('/game/')}">Games</a></li>
        <li><a href="${tg.url('/user/')}">Users</a></li>
        <li><a href="${tg.url('/rules')}">Rules</a></li>
        <li><a href="${tg.url('/user/register')}">Register</a></li>
    </ul>
</py:match>

<xi:include href="master.html" />

</html>
