<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
    <head py:if="email_format == 'rich'">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta py:replace="head_info()" />
    </head>
    <body style="margin: 0; padding: 0; color: white; background-color: black; font: small Verdana, Kalimati, Helvetica, FreeSans, Arial, sans-serif;">
        <div py:if="email_format == 'rich'" style="width: 733px; height: 189px; margin: 2em auto 0; padding: 0;"><a href="${tg.absurl('/')}"><img src="${tg.absurl('/static/images/hvz-logo.jpg')}" style="border: none;" /></a></div>
        <div style="width: 90%; margin: 0 auto 1ex; padding: 2em 3%; border: thin solid #333; color: black; background: white; font-size: 127%;">
            <h1 style="color: #600; font-family: Impact, Arial, FreeSans, sans-serif; font-weight: bold; clear: both; margin-top: 0;" py:content="page_title()">[Title]</h1>
            <!-- Begin content -->
            <content>Content goes here</content>
            <!-- End content -->
            <p py:if="message_format != 'sms'" style="font-style: italic; font-color: #333;">--Your Friendly Moderating Team</p>
        </div>
        <div py:if="message_format != 'sms'" style="color: #f33; font-size: 80%; text-align: center;">
            <p>
                This email was automatically sent to you by <a href="http://turbohvz.googlecode.com/">TurboHvZ</a>.  Please do not reply to this email.<br />
                TurboHvZ is released as free software under the <a href="http://www.gnu.org/licenses/gpl.html">GPLv3</a>.
            </p>
            <p>
                Software: Copyright &#xA9; 2008 Ross Light<br />
                Concept: Copyright &#xA9; 2008 Chris Weed
            </p>
        </div>
    </body>
</html>
