<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<py:def function="page_title">Infection Alert</py:def>
<py:def function="head_info"></py:def>

<py:match path="content">
    <p>To <span py:replace="entry.player">[player]</span>:</p>
    <p>Through an unfortunate laboratory accident, you have been infected with the undead plague and have become the <strong>Original Zombie</strong>.</p>
    <p>You do not have to change your wristband to zombie, unless you want to give away your affliction.  You have <span py:replace="tg.display_date(game.zombie_starve_timedelta)">[time]</span> from the beginning of the game to find your victim.</p>
    <p>To report a kill:</p>
    <ol>
        <li>Take the victim's ID card from him or her</li>
        <li><a href="${tg.abslink(tg.hvz.login_link())}">Log in</a><py:if test="email_format == 'plain'"> &lt;${tg.abslink(tg.hvz.login_link())}&gt;</py:if> to the server</li>
        <li>Go to the <a href="${tg.abslink(tg.hvz.game_link(game))}">game page</a><py:if test="email_format == 'plain'"> &lt;${tg.abslink(tg.hvz.game_link(game))}&gt;</py:if></li>
        <li><a href="${tg.abslink(tg.hvz.game_link(game, 'reportkill'))}">Report the kill</a><py:if test="email_format == 'plain'"> &lt;${tg.abslink(tg.hvz.game_link(game, 'reportkill'))}&gt;</py:if>, entering the victim's ID number and the time at which you tagged him or her.</li>
    </ol>
    <p>Good Luck!</p>
</py:match>

<xi:include href="mail_template.html" />

</html>
