<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<py:def function="page_title">Change Password</py:def>
<py:def function="head_info"></py:def>
<py:def function="page_parents">
    <a href="${tg.url('/user/index')}">Users</a>
    <a href="${tg.hvz.user_link(user)}" py:content="user.display_name">[user name]</a>
</py:def>

<py:match path="content">
    <span py:replace="tg.display(form, dict(user_id=user.user_id))">[form]</span>
</py:match>

<xi:include href="../master.html" />

</html>
