<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<py:def function="page_title">Create Game</py:def>
<py:def function="head_info"></py:def>
<py:def function="page_parents">
    <a href="${tg.url('/game/index')}">Games</a>
</py:def>

<py:match path="content">
    <p>Please set up the options for this new game.</p>
    <div py:replace="tg.display(form, submit_text=_('Create'), action=tg.url('/game/action.create'))"></div>
    <a href="${tg.url('/game/index')}">Cancel</a>
</py:match>

<xi:include href="../master.html" />

</html>
