<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<py:def function="page_title">Editing Game <span py:replace="game.game_id">[#]</span></py:def>
<py:def function="head_info"></py:def>

<py:match path="content">
    <div py:replace="tg.display(form, values, submit_text=_('Edit'), action=tg.url('/game/action.edit'))"></div>
    <a href="${tg.hvz.game_link(game)}">Cancel</a>
</py:match>

<xi:include href="../master.html" />

</html>
