<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<py:def function="page_title">Report Kill</py:def>
<py:def function="head_info"></py:def>
<py:def function="page_parents">
    <a href="${tg.url('/game/index')}">Games</a>
    <a href="${tg.hvz.game_link(game)}">Game <span py:replace="game.game_id">[#]</span></a>
</py:def>

<py:match path="content">
    <py:choose>
        <py:when test="current_entry.can_report_kill()">
            <p>Please enter in the required information below.  <strong>Kills must be reported in chronological order, or they will not be counted.</strong></p>
            <div py:replace="tg.display(form, dict(game_id=game.game_id, kill_date=default_time))">[kill form]</div>
        </py:when>
        <py:otherwise>
            <p>You are <em py:content="current_entry.affiliation">[affiliate]</em>.  Only zombies can kill people!  You can't just go around killing other people!</p>
        </py:otherwise>
    </py:choose>
</py:match>

<xi:include href="../master.html" />

</html>
