<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<py:def function="page_title">Report Kill</py:def>
<py:def function="head_info"></py:def>

<py:match path="content">
    <py:choose>
        <span py:when="current_entry.is_undead" py:replace="tg.display(form, dict(game_id=game.game_id))">[kill form]</span>
        <div py:otherwise="" py:strip="">
            <p>You are <em py:content="current_entry.affiliation">[affiliate]</em>.  Only zombies can kill people!  You can't just go around killing other people!</p>
        </div>
    </py:choose>
</py:match>

<xi:include href="../master.html" />

</html>
