<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<py:def function="page_title">Humans vs. Zombies Rules</py:def>
<py:def function="head_info">
    <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/rules.css')}" />
</py:def>
<py:def function="page_parents">
    <a href="${tg.url('/game/index')}">Games</a>
    <a href="${tg.hvz.game_link(game)}">Game <span py:replace="game.game_id">[#]</span></a>
</py:def>

<py:match path="content">
    <p>AOC Rules written by Ross Light and TJ Ferrell<br />
    Based on <a href="http://media.goucherzombies.com/hvzsource/rules.htm">the original by Brad Sappington and Chris Weed</a></p>
    <h2 id="sect_overview">Overview</h2>
    <p>Humans vs. Zombies is a game of tag. All players begin as humans, and one is randomly chosen to be the “Original Zombie.” The Original Zombie tags human players and turns them into zombies. The zombies must tag and “feed” on a human every <span py:replace="tg.display_date(game.zombie_starve_timedelta)">[time]</span> or he starves to death and is out of the game.</p>
    <h2>Objectives</h2>
    <p>The Zombies win when all human players have been tagged and turned into zombies. The Humans win by surviving long enough for all of the zombies to starve.</p>
    <h2 id="sect_safety">Safety Rules</h2>
    <ul>
        <li>No weaponry of any kind, just socks</li>
        <li>Players may not use cars</li>
        <li>Socks may not contain anything and must be clean</li>
    </ul>
    <h2 id="sect_equipment">Equipment</h2>
    <p>This gear is required for all players:</p>
    <ul>
        <li>Wristband*</li>
        <li>Socks</li>
        <li>One 3x5 index ID card</li>
    </ul>
    <p class="footnote">* The wristbands can be sweatbands or the elastic part of a sock (recommended for cost-efficiency), but they must be reversible.  Regardless, the wristband must look like this:</p>
    <p><img src="${tg.url('/static/images/wristband.png')}" alt="Wristband diagram" /></p>
    <h2 id="sect_safe_zones">Safe Zones</h2>
    <ul>
        <li py:for="zone in game.safe_zones" py:content="zone">[zone]</li>
    </ul>
    <h2 id="sect_human_rules">Human Rules</h2>
    <p><span class="rule_name">ID Number</span> Humans must keep one index card with their unique identification number (player GID) on them at all times</p>
    <p><span class="rule_name">Stunning a Zombie</span> Humans may stun a Zombie for 15 minutes by throwing a sock at them.</p>
    <p><span class="rule_name">When Tagged By a Zombie</span> When tagged by a Zombie, a Human is required to distribute their ID card. One hour after being tagged, a Human becomes a member of the Zombie team. Reverse your wristband to show the "Z"&#x2014;you are now allowed to tag other Humans.</p>
    <p><span class="rule_name">Wearing a Wristband</span> Humans must wear a wristband showing the "H" around an arm or leg to identify them as players of the game.</p>
    <h2 id="sect_zombie_rules">Zombie Rules</h2>
    <p><span class="rule_name">Feeding</span> Zombies must feed every <span py:replace="tg.display_date(game.zombie_starve_timedelta)">[time]</span>. A zombie feeds by <a href="${tg.hvz.game_link(game, 'reportkill')}">reporting their tags on the website</a>. Time on certain days (depends on the game) does not count toward the time limit.  For example, if the game ignores weekends, has 48 hour starve time, and a zombie tags someone six hours before a Saturday, then the zombie will have forty-two hours (48 - 6 = 42) from midnight on Monday to tag someone.</p>
    <py:if test="game.ignore_weekdays">
        <p>The days that this game regularly ignores are:</p>
        <ul>
            <li py:for="day in sorted(game.ignore_weekdays)"
                py:content="tg.display_weekday(day)">[day]</li>
        </ul>
    </py:if>
    <py:if test="game.ignore_dates">
        <p>Specific dates that this game ignores are:</p>
        <ul>
            <li py:for="date in sorted(game.ignore_dates)"
                py:content="tg.display_date(date)">[date]</li>
        </ul>
    </py:if>
    <p><span class="rule_name">Wearing your Headband</span> The Zombie team must wear a wristband showing the "Z" around their arms at all times. The Original Zombie must wear a wristband, but it does not need to be showing the "Z".</p>
    <p><span class="rule_name">Tagging</span> A tag is a firm touch to any part of a Human. After tagging a Human, the Zombie must collect their ID card. Kills must be <a href="${tg.hvz.game_link(game, 'reportkill')}">reported</a> within <span py:replace="tg.display_date(game.zombie_report_timedelta)">[time]</span>.</p>
    <p><span class="rule_name">Getting Hit</span> When hit with a sock, a zombie is stunned for 15 minutes. A stunned zombie may not interact with the game in any way. This includes shielding other zombies from socks or continuing to run toward a human. If hit while stunned, a zombie remains stunned for the next 15 minutes.</p>
    <h2 id="sect_other_rules">Other Rules</h2>
    <ul>
        <li>Hitting non-players with socks is a bannable offense.</li>
        <li>People who are not registered participants may not directly interact with the game. This includes bringing food to humans or spying for either team.</li>
        <li>A zombie must have both feet outside of a safe zone to tag a human. Zombies may not use shields to deflect socks.</li>
        <li>Athletes are safe during official practices, but not on the way to or from practice.</li>
        <li>Similarly, students at required academic events are safe for the duration of the event (even if this event is in a free-play zone), but they are not safe on the way to or from the event.</li>
        <li>Humans can't stun zombies from inside of a safe-zone.</li>
    </ul>
    <py:if test="game.rules_notes">
        <h2 id="sect_notes">Notes</h2>
        <div py:replace="HTML(tg.plain2html(game.rules_notes))">[notes]</div>
    </py:if>
    
    <div id="sect_license">
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" class="cclicense" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png"/></a><br />
            Copyright &#xA9; 2008 Ross Light, Copyright &#xA9; 2008 Chris Weed<br />
            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-Noncommercial-Share Alike 3.0 License</a>.
        </p>
    </div>
</py:match>

<xi:include href="../master.html" />

</html>
