<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<py:def function="page_title">Game <span py:replace="game.game_id">#</span></py:def>
<py:def function="head_info">
<script type="text/javascript">
function unjoin(evt)
{
    var unjoin_url = ${tg.jsencode(tg.url('/game/action.unjoin', game_id=str(game.game_id)))};
    if (confirm("Are you sure you want to remove yourself from the game?"))
    {
        window.location = unjoin_url;
    }
}
</script>
<style type="text/css">
    .game_info
    {
        border: none;
    }
    
    .game_info th, .game_info td
    {
        color: black;
        background: none;
        border: none;
    }
    
    .game_info th
    {
        font-weight: bold;
        text-align: right;
    }
    
    .check
    {
        color: green;
    }
</style>
</py:def>

<py:match path="content">
    <h1 id="sect_game_info">Game <span py:replace="game.game_id">#</span></h1>
    <table class="game_info">
        <tr>
            <th>Created:</th>
            <td><span class="date" py:content="game.created">[date]</span></td>
        </tr>
        <tr>
            <th>Started:</th>
            <td><span py:choose="" py:strip=""><span py:when="game.started is None" py:strip="">Not yet started</span><span py:otherwise="" class="date" py:content="game.started">[date]</span></span></td>
        </tr>
        <tr>
            <th>Ended:</th>
            <td><span py:choose="" py:strip=""><span py:when="game.started is None" py:strip="">Not yet started</span><span py:when="game.ended is None" py:strip="">In progress</span><span py:otherwise="" class="date" py:content="game.ended">[date]</span></span></td>
        </tr>
    </table>
    <h2 id="sect_entry_list">Player Roster</h2>
    <span py:replace="tg.display(grid, game.entries)">[players]</span>
    <div>
        <button py:if="game.registration_open and not tg.identity.anonymous and tg.identity.user in game.players" onclick="unjoin(event);">Unjoin</button>
        <a py:if="game.registration_open and not tg.identity.anonymous and tg.identity.user not in game.players" href="${tg.url('/game/join/' + str(game.game_id))}"><button>Join</button></a>
    </div>
    <h2 id="sect_stage">Stage</h2>
    <table>
        <tr>
            <td class="check"><py:if test="game.state >= 0">&#x2713;</py:if></td>
            <td>Game created</td>
        </tr>
        <tr>
            <td class="check"><py:if test="game.state >= 1">&#x2713;</py:if></td>
            <td>Open registration</td>
        </tr>
        <tr>
            <td class="check"><py:if test="game.state >= 2">&#x2713;</py:if></td>
            <td>Closed registration</td>
        </tr>
        <tr>
            <td class="check"><py:if test="game.state >= 3">&#x2713;</py:if></td>
            <td>Choose original zombie</td>
        </tr>
        <tr>
            <td class="check"><py:if test="game.state >= 4">&#x2713;</py:if></td>
            <td>Start game</td>
        </tr>
        <tr>
            <td class="check"><py:if test="game.state >= 5">&#x2713;</py:if></td>
            <td>Reveal original zombie</td>
        </tr>
        <tr>
            <td class="check"><py:if test="game.state >= 6">&#x2713;</py:if></td>
            <td>Game over</td>
        </tr>
    </table>
    <!-- TODO: Check for admin -->
    <form py:if="not tg.identity.anonymous" action="${tg.url('/game/action.stage')}">
        <input type="hidden" name="game_id" value="${game.game_id}" />
        <p>
            <input py:if="not game.is_first_state" type="submit" name="btnPrev" value="Previous Stage" />
            <input py:if="not game.is_last_state" type="submit" name="btnNext" value="Next Stage" />
        </p>
    </form>
</py:match>

<xi:include href="../master.html" />

</html>
